body{
    background: #010922;
}

.container{
    display: flex;
    align-items: center;
}

.vh{
    min-height: 90vh;
}

.navbar{
    position: fixed;
}


.topnav a{
    color: #FFF;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71875rem;
    float: left;
    text-align: center;
    padding: 0 1rem;
    text-decoration: none;
}

.topnav a.active{
    border-bottom: 3px solid#9200FF;
    color: #9200FF;
}

.topnav a:hover{
    color: #9200FF;
    cursor: pointer;
}

.logo{
    color: #FFF;
    font-family: Outfit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.71875rem;
    padding: 0;
    margin: 0;
    margin-right: 50rem;
    margin-left: 3rem;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.small{
    font-size: 3.5rem;
}

.greeting{
    margin-left: 8rem;
}

.greeting h1{
    color: #9200FF;
    font-family: Outfit;
    font-size: 5.3125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 80%;
    margin-top: 0;
}

.white{
    color: white;
}

.body{
    color: #FFF;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1rem;
    margin-top: -3rem;
}

.italic{
    font-style: italic;
}

.pic-design img{
    width: 32.20238rem;
    height: 37.17394rem;
    margin-left: 10rem;
}

.mypic img{
    width: 27.1875rem;
    height: 34rem;
    flex-shrink: 0;
    margin-left: 5rem;
}

.about{
    position: relative;
    max-width: 50rem;
}

.text-aboutme{
    position: relative;
    color: #FFF;
    font-family: Outfit;
    font-size: 5.3125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.text-aboutme::after{
    content: "";
    position: absolute;
    width: 15rem;
    height: 5px;
    left: 0;
    bottom: 0;
    background: #9200FF;
}

.about p{
    padding-top: 2rem;
    line-height: 100%;
}

.info{
    color: #FFF;
    font-family: Roboto;
    line-height: 4rem;
}

.tb-left{
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    padding-left: 1.5rem;
}

.tb-right{
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    padding-left: 2rem;
}

#projects{
    display: flex;
    flex-direction: column ;
    align-items: center;
    padding-top: 5rem;
}

.title{
    position: relative;
    color: #FFF;
    font-family: Outfit;
    font-size: 5.3125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 1rem;
    margin-top: 0;

}

.title::after{
    content: "";
    position: absolute;
    width: 20rem;
    height: 5px;
    left: 15rem;
    bottom: -10px;
    background: #9200FF;
}

.capstone-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -1rem;
}

.capstone{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    margin-top: 3rem;
}

.capsvid1-description{
    width: 30rem;
    color: #FFF;
    font-family: Outfit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
}

.capsvid2-description{
    width: 30rem;
    color: #FFF;
    font-family: Outfit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
}

#hobbies{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobby-title{
    position: relative;
    color: #FFF;
    font-family: Outfit;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    align-self: start;
}

.hobby-title::after{
    content: "";
    position: absolute;
    width: 10rem;
    height: 5px;
    left: 0.35rem;
    bottom: 3rem;
    background: #9200FF;
}

.hobby-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71875rem;
    width: 50%;
    margin-top: -3rem;
}

.manga-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.manga-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 1rem;
}

.manga{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    column-gap: 1rem;
}

.cover img{
    width: 14.3125rem;
    height: 23.8125rem;
    flex-shrink: 0;
    border-radius: 3rem;
}

.manga-description{
    color: #FFF;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 100;
    line-height: 1.34375rem;
}

.suggestions{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-top: 10rem;
}

.suggestion-text{
    width: 50%;
    padding: 10rem 0 10rem 0;
}

.suggestion-text h2{
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.suggestion-text p{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71875rem;
}

.suggestion-form{
    width: 50%;
    background-color: white;
    border-radius: 5rem;
}

.suggestion-form h2 {
    color: #9200FF;
    text-align: center;
    font-family: Outfit;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.survey-group {
    padding-left: 2rem;
    color: #000;
    text-align: left;
    font-family: Roboto;
    font-size: 2rem;
}

.drop{
    width: 95%;
    height: 3rem;
    padding: auto;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

.titlesuggest{
    width: 90%;
    height: 3rem;
}

.input-textarea{
    width: 90%;
    height: 5rem;
    margin-top: -2rem;
}

.submit-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 4rem;
}

.submit-button{
    width: 8rem;
    background-color: #9200FF;
    height: 3rem;
    border-radius: 2rem;
}

.footer{
    background-color: #000;
    display: flex;
    justify-self: flex-start;
    margin: 0;
    margin-top: 20rem;
    padding: 0;
}

.logobot{
    color: #FFF;
    font-family: Outfit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.71875rem;
    padding: 0;
    margin: 0;
}

.logo-about p{
    color: #FFF;
    text-align: left;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: auto;
    padding-left: 3rem;
}

.contact{
    color: #FFF;
    text-align: left;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: auto;
    padding-left: 3rem;
    margin-top: -0.7rem;
}

.fb{
    margin-left: -.3rem;
}

.contact a{
    color: #FFF;
    font-style: normal;
    text-decoration: none;
}

.contact .links:hover{
    color: #9200FF;
    cursor: pointer;
}

.contact a:visited{
    color: #FFF;
}
